<ion-content>
  <ion-item>
    <ion-label position="floating">Inserir tarefa:</ion-label>
    <ion-input [(ngModel)]="novaTarefa"></ion-input>
  </ion-item>
  <ion-button [disabled]="!novaTarefa" (click)="adicionarTarefa()" expand="block">Inserir</ion-button>

  <ion-list *ngFor="let tarefa of tarefas; let indice = index">
    <ion-item-sliding>

      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>{{indice}} - {{tarefa}}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-button color="danger" (click)="apagarTarefa(indice)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
</ion-content>